@import '../../../node_modules/leaflet/dist/leaflet.css';

html, body{
    overflow: auto;
    height: 100vh;
}

#app {
    height: 100%;
}

.h-100p {
    height: 100%;
}

.mb-1 {
    margin-bottom: 1rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}